In [21]:
import numpy as np
import pandas as pd
a=pd.read_csv("employee_data.csv")
print(a)
print(a.isnull().sum())

    Serial No Employee Name  Age  Experience (Years)  Estimated Salary  \
0           1    Employee_1   35                   4            108048
1           2    Employee_2   26                   5             55311
2           3    Employee_3   54                   3             99036
3           4    Employee_4   40                  19            127731
4           5    Employee_5   51                  17            107823
5           6    Employee_6   32                   6             64476
6           7    Employee_7   51                  15            115286
7           8    Employee_8   34                   3            130500
8           9    Employee_9   50                  11             62044
9          10   Employee_10   33                   3             95052
10         11   Employee_11   58                  30             78210
11         12   Employee_12   28                   5             38073
12         13   Employee_13   55                  31             79562
13         14   Employee_14   42                   9             64188
14         15   Employee_15   36                   4             98932
15         16   Employee_16   60                  23             91747
16         17   Employee_17   46                   3             99823
17         18   Employee_18   48                  16            133636
18         19   Employee_19   53                  17            102758
19         20   Employee_20   37                   6             45888
20         21   Employee_21   27                   6            116421
21         22   Employee_22   46                  15             35905
22         23   Employee_23   24                   3             86907
23         24   Employee_24   54                  14            107386
24         25   Employee_25   31                   1             90354
25         26   Employee_26   45                  14             66463
26         27   Employee_27   32                   3             53894
27         28   Employee_28   29                   5            148630
28         29   Employee_29   57                  16             48557
29         30   Employee_30   26                   5             62707
30         31   Employee_31   49                  14             77902
31         32   Employee_32   33                   6             35453
32         33   Employee_33   42                   3            113066
33         34   Employee_34   52                   1             53211
34         35   Employee_35   27                   3             52017
35         36   Employee_36   44                   8            107475
36         37   Employee_37   31                   4             48405
37         38   Employee_38   33                   3             30149
38         39   Employee_39   55                  28             93766
39         40   Employee_40   29                   5             50937
40         41   Employee_41   57                  23            102850
41         42   Employee_42   44                  16             82660
42         43   Employee_43   22                   1            105391
43         44   Employee_44   32                   1             62492
44         45   Employee_45   51                  29             52160
45         46   Employee_46   23                   2             91817
46         47   Employee_47   34                   4             98861
47         48   Employee_48   37                   2             88854
48         49   Employee_49   50                  24            104108
49         50   Employee_50   35                   5             65410

    Monthly Expenditure
0                 66183
1                 42351
2                 57762
3                 84079
4                 96837
5                 34324
6                 65552
7                118554
8                 45529
9                 75874
10                47324
11                23062
12                56728
13                53501
14                90454
15                49932
16                86215
17                84414
18                89393
19                26831
20                65905
21                20467
22                60852
23               103392
24                55818
25                49414
26                27366
27                98692
28                32524
29                43481
30                68196
31                21141
32                97124
33                38345
34                32891
35               105663
36                26171
37                23532
38                59157
39                30086
40                60073
41                73195
42                82754
43                35202
44                46266
45                76400
46                66704
47                80155
48                96353
49                53840
Serial No              0
Employee Name          0
Age                    0
Experience (Years)     0
Estimated Salary       0
Monthly Expenditure    0
dtype: int64

In [22]:
x=a.iloc[:,[2,4]]
y=a.iloc[:,5]

In [23]:
x.head()
y.head()
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [24]:
from sklearn.svm import SVC
clf=SVC(kernel='linear')
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)

In [25]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test,y_pred)
print(accuracy)

0.0